name: Deploy Backend to Hugging Face

on:
  push:
    branches: [main]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Deploy to Hugging Face Space
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
          HF_USERNAME: ${{ secrets.HF_USERNAME }}
          HF_SPACE_NAME: ${{ secrets.HF_SPACE_NAME }}
        run: |
          git config --global user.email "bot@github.com"
          git config --global user.name "Bot"

          git clone https://huggingface.co/spaces/$HF_USERNAME/$HF_SPACE_NAME hf

          cp Phase_2_Full_Stack_Web_Application/backend/main.py hf/
          cp Phase_2_Full_Stack_Web_Application/backend/requirements.txt hf/

          cd hf
          git add .
          git commit -m "Deploy backend Phase 2" || echo "No changes"
          git push https://$HF_USERNAME:$HF_TOKEN@huggingface.co/spaces/$HF_USERNAME/$HF_SPACE_NAME main
