name: Deploy Backend to Hugging Face

on:
  push:
    branches: [main]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Deploy to Hugging Face Space
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
          HF_USERNAME: ${{ secrets.HF_USERNAME }}
          HF_SPACE_NAME: ${{ secrets.HF_SPACE_NAME_PHASE3 }}
        run: |
          git config --global user.email "bot@github.com"
          git config --global user.name "Bot"

          git clone https://huggingface.co/spaces/tayyaba98/todo_AI_chatbot

          cp -r Phase_3_Todo_AI_Chatbot/backend/* hf/


          cd hf
          git add .
          git commit -m "Deploy backend Phase 3" || echo "No changes"
          git push https://huggingface.co/spaces/tayyaba98/todo_AI_chatbot main
